

.one{
    list-style: none;

}

.one li a{
    font-size: 20px;
    text-decoration: none;
    color: blue;
}
.one li a:hover{
    color: red;
}
.one li a:focus{
    color: green;
}
.twotitle{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 3px #000000;
    justify-content: baseline;
}
.twopara{
    font-size: 1.2rem;
    line-height: 1.6;
}



/* for  question 3  */
.card{
    border: 1px solid gray;
    padding: 20px;
    margin: 20px;
    max-width: 300px;
}
.five{
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows:300px 300px ;
    gap: 10px;

}
@media (max-width:600px) {
    
    .five{
        grid-template-columns: 200px;
        grid-template-rows: 200px 300px 200px 100px;
    }
}
.six{
    height: 50px;
    width: 150px;
    background-color: blue;
    color: white;
    transition: 0.3s;
}
.six:hover{
    background-color: darkblue
}
.seven{
    height: 50px;
    width: 150px;
    background-color: blue;
    color: white;
    transition: 0.3s;
}
.seven:hover{
    scale: 1.2;
}
.eight{
    height: 50px;
    width: 150px;
    background-color: blue;
    color: white;
    position: relative;
    animation: slide 1s infinite ease;

}
@keyframes slide {
    from{
        left: 0px;
    }
    to{
        left:300px
    }
    
}
.fifteen{
    height: 40vh;
    width: 40vw;
    background-position: center;
    background-size: cover;
    background-image: url(./1109682.jpg);
}
.innerdiv{
    font-size: 40px;
    font-weight: 900;
    padding: 10vh;
}